<h1> you are on home</h1>

<form action="/home" method="post">
   <label >date and time</label>
  <input type="text" id="demo" name="demo" required>
  <input type="submit" >
</form> 


<table id="zero_config" class="table table-striped table-bordered">
<thead>  
  <tr>
   
              <th>Year</th>
              <th>Month</th>
              <th>Date</th>
            
    </tr>
  </thead>
  <tbody>
  
  <tr>
   <td>{{ a }}</td>
   <td>{{ c }}</td>
   <td>{{ b }}</td>
            
              
              

                



    
              
  </tr>
  
  

</tbody>
</table>


